@import "components/elements-list";
@import "components/section-card";

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: url("http://fonforsite.ru/_ph/3/2/707209946.png?1502667752");
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
    font-size: 80px;
    line-height: 1.6;
}

.container {
    background-color: white;
    margin: 0 auto;
    max-width: 1024px;
    height: 100vh;
    padding: 25px;
}

.fav {


    a {
        background-color: red;
        position: relative ;
        text-align: center;
        display: block;
        padding: 15px;
        width: 200px;
        color: #FFFFFF;
        margin: 0 auto 30px auto;
        border-radius: 5px;
        
    }
}
